h1 {
    font-family: "Alex Brush";
    font-size: 150px;
    margin-top: 0;
    border-bottom: 3px solid #D4A373;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
    padding: 30px 0;
    display: flex;
    align-items: center;
    width: 100%;
    color: #E9EDC9;

}

body {
    padding: 0 40px;
    background-color: #CCD5AE;
}